version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: quizz-web
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
    volumes:
      # Montaje en vivo para desarrollo en produccion;
      - ./:/var/www/html
    restart: unless-stopped
